body{
    margin: 0;
    height: 100vh;
    
    display: flex;
    flex-direction: column;
}

.header,
.introduction,
.footer{
    background-color: #1F2937;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    margin:0;
    padding:0;
}

.secondary-text{
    font-size: 18px;
    color: #e5e7eb;
}
.main-text{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin:0;
}
.header .logo{
    font-size: 24px;
    color:#F9FAF8;
}
button.sign-up,
.banner {
    background-color: #3882f6;
}
.info-text{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}
.quote{
    background-color: #e5e7eb;
}
.quote-text{
    font-size: 36px;
    font-weight: 200;
    color: #1F2937;
    font-style: italic;
}
.header img{
    width: 500px;
    height: 350px;
}
.information img{
    width: 250px;
    border-radius: 15px;
    border: 5px solid #3882f6;
}
.container{
    flex: 1 1 auto;
}
.header{
    padding:12px 60px 60px;
}
.header ul{
    display: flex;
    justify-content: flex-end;
    gap:16px;
    margin-bottom: 45px;
}
.logo{
    margin-right:auto;
}

.introduction{
    display:flex;
    justify-content:space-evenly;
    gap:16px;
    
} 
.intro-text{
    width: 500px;
}

button{
    padding: 8px 20px;
    border-radius: 10px;
    color:#e5e7eb;
}
.information{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.illustration{
    display:flex;
    
}
.info-image{
    
    text-align: center;
    margin:8px;
}
.quote{
    padding:45px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}
