body{
    margin: 0;
    height: 100vh;
    
    display: flex;
    flex-direction: column;
}

.header,
.introduction,
.footer{
    background-color: #1F2937;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    margin:0;
    padding:0;
}

.secondary-text{
    font-size: 18px;
    color: #e5e7eb;
}
.main-text{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}
.header .logo{
    font-size: 24px;
    color:#F9FAF8;
}
button.sign-up,
.banner {
    background-color: #3882f6;
}
.info-text{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}
.quote{
    background-color: #e5e7eb;
}
.quote-text{
    font-size: 36px;
    font-weight: 200;
    color: #1F2937;
    font-style: italic;
}
.introduction img{
    width: 500px;
}
.information img{
    width: 250px;
}
.container{
    flex: 1 1 auto;
}
.header ul{
    display: flex;
    justify-content: flex-end;
    gap:8px;
}
.logo{
    margin-right:auto;
}
